// Fonts
$primaryFont: 'Objectivity', sans-serif;
$secondaryFont: 'Objectivity', sans-serif;
$baseFontSize: 16px;
$baseFontColor: #22282b;

// Colours
$primary: #4f8bd3;
$primaryLight: #F6F2FD;
$secondary: #1e73be;
$tertiary: #efefef;
$quaternary: #000;
$lightgrey: #eef0fb;
$text: $baseFontColor;
$textLight: #343a3d;
$border: #d6dbe1;
$white: #fff;
$borderDark: lighten($text, 35%);
$success: #64c82d;
$warning: #ffc458;
$error: tomato;

$grey: #eff4f7;